@tailwind base;
@tailwind components;
@tailwind utilities;

.section-spacing {
  @apply py-12 md:py-24;
}

body {
  background-color: rgba(255, 255, 255, 1); /* Fully opaque background base */
  background-image: radial-gradient(
    rgba(15, 160, 155, 0.4) 1px,
    rgba(255, 255, 255, 0.2) 1px
  );
  background-size: 40px 40px;
}

html {
  scroll-behavior: smooth;
}

#fade-in-first {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

#fade-in-second {
  opacity: 0;
  animation: fadeIn 2s linear forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
